<h1>All Todos</h1>
<% @todos.each do |todo| %>
  <h2><%= todo.title %></h2>
  <p>Name: <%= todo.user.name %></p>
  <p>Description: <%= todo.description %></p>
  <p>Deadline: <%= todo.deadline %></p>
  <p>Done: <%= todo.completed %></p>
<% end %>